﻿@model List<GuavaCheckIn.Web.Models.SubmissionDocument>
@{
    ViewBag.Title = "Documents";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Documents</h1>
            </hgroup>
        </div>
    </section>
}

@if (Model.Count == 0)
{
<center><p>User does not submit the documents!</p></center>
}
else
{
    
<center><h1>Submission ID : @ViewBag.SubmissionId</h1></center>

<br />
    
<table style="width: 100%">
    <thead>
        <tr>
            <th align="center">Document</th>
            <th align="center">Picture</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var document in Model)
        {
            <tr>
                <td>@document.SubmissionDocumentType.Name</td>
                <td><a href="@document.Blob.Url" target="_blank"><img src="@document.Blob.Url" alt="@document.SubmissionDocumentType.Name" height="200" width="200"></a></td>
            </tr>
        }
    </tbody>
</table> 

<br />

<center><input type="button" value="Print All" onclick="location.href='@Url.Action("Print", "Home", new { id = ViewBag.SubmissionId })'" /></center>

}