﻿@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Guava Check-In</h1>
            </hgroup>
        </div>
    </section>
}

<center><h1>Welcome to Guava Check-In</h1></center>

<br />

<center><img src="/img/logo.png" style="height: 400px; margin-bottom: 400px;"/></center>