﻿@model List<GuavaCheckIn.Web.Models.Submission>
@{
    ViewBag.Title = "Manager";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Management Back Office</h1>
            </hgroup>
        </div>
    </section>
}

<table style="width: 100%;">
    <tr>
      <th>Submission ID</th>	
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>

    @foreach (var submission in Model)
    {
    <tr>
        <td>@submission.Id</td>
        <td>@submission.SubmissionStatus.Name</td>
        <td>@Html.ActionLink("View", "Documents", "Home", new { id = submission.Id }, null)</td>
        <td><input type="button" value="Print" onclick="location.href='@Url.Action("Print", "Home", new { id = submission.Id })'" /></td>
    </tr>
    }
</table> 