﻿@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div style="text-align: center; ">
        <img src="/img/logo.png" style="height: 150px;" />
    </div>
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br/>
        <div class="small">
            Forgot Password? No Account - <a href="/UI/AccountUI/Register">Register Here</a>
        </div>
    </form>

</div> <!-- /container -->