﻿@{
    ViewBag.Title = "Index";
}

<div class="container">

    <form role="form" method="post">
        <h2 class="form-signin-heading">Registration</h2>
        <div class="form-group">
            <label for="name">Name on Passport</label>
            <input type="text" class="form-control" id="name" placeholder="Name on Passport" value="Pocket">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" value="guava@gmail.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="visa">Type of VISA</label>

            <select id="visa" class="form-control">
                <option>Travel</option>
                <option>Business</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>

</div> <!-- /container -->