﻿@{
    ViewBag.Title = "Index";
}

<div class="container">

    <form role="form" action="/UI/CheckIn/Congrat">
        <h2 class="form-signin-heading">Payment</h2>
        <div class="form-group">
            <label for="creditCardNumber">Credit Card Number</label>
            <input type="text" class="form-control" id="creditCardNumber" placeholder="Credit Card Number">
        </div>
        <div class="form-group">
            <label for="expiredDate">Expired Date</label>
            <input type="text" class="form-control" id="expiredDate" placeholder="Expired Date">
        </div>
        <div class="form-group">
            <label for="ccv">CCV</label>
            <input type="text" class="form-control" id="ccv" placeholder="CCV">
        </div>
        
        <button type="submit" class="btn btn-success btn-block">Pay</button>
    </form>

</div> <!-- /container -->