﻿@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="form-signin-heading">How do you want to pay?</h2>
    <div class="text-center">
        <form role="form" action="/UI/CheckIn/Congrat" method="post">
            <a href="@Url.Action("CreditCard")" class="btn btn-default"><img style="width: 83px;" src="/img/mastercard.jpg" /></a>
        </form>
        <br />
        <form role="form" action="/UI/CheckIn/Congrat" method="post">
            <a href="@Url.Action("CreditCard")" class="btn btn-default"><img style="width: 83px;" src="/img/visa.jpg" /></a>
        </form>
        <br />
        <form action="https://bitpay.com/checkout" method="post"> <input type="hidden" name="action" value="checkout" /> <input type="hidden" name="posData" value="" /> <input type="hidden" name="data" value="GiT+qoQFs/dzQ9z1Sq7SrmTFQU00d11SdkBwaJoIUEb0c6a78XbvvTdsUfPAttn6yY9zqV3y9VAYc/YnJNoOkRSxU6ZB+XoQ0aPSiuSidhk8L+cUoBVNsafml2SgzzXym6rYLGNVQlbpjZf6kXVeX/8rSGQ6jEQB36FwHHSLboC/fFrquHFZrg/Rd2S1xHglr2+0n5OqHaaFiILjlV40QQzaBWq84PGK2OIat5CLlLy4uTklflArXqhvLe3k7QDKtK3ORsmJSKL0Oyp9Aq06wg==" /> <input type="image" src="https://bitpay.com/img/button8.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins."> </form>
    </div>

</div> <!-- /container -->