﻿@{
    ViewBag.Title = "Index";
}

@section header {
}

@section script {
}

<div class="text-center">
    <a href="/ui/checkin/last"><img class="img-guide" src="/img/steps/8.png" /></a>
</div>
<div class="container">

    <div class="text-center">
        <a target="_blank" title="Share this page" href="http://www.sharethis.com/share?url=https://sites.google.com/a/gibillabroad.com/guavacheck- in/&title=GuavaCheck.In%20Rocks&summary=I used Guavacheck.in to do my 90 day notification and it works! &img=http://www.jonahinc.dreamhosters.com/wp/wp- content/uploads/2014/07/logo.png&pageInfo=%7B%22hostname%22%3A %22http://guavacheckin.azurewebsites.net/ui/AccountUI/Login%22%2C %22publisher%22%3A%22b44213cd-97bc-459b-9457-13f3690d2dbc%22%7D"><img width="86" height="25" alt="Share this page" src="http://w.sharethis.com/images/share-classic.gif"></a>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({ publisher: 'b44213cd-97bc- 459b-9457-13f3690d2dbc' });</script>
    </div>

    <form role="form" action="/ui/accountui/login">
        <button type="submit" class="btn btn-primary btn-block">Logout</button>
    </form>

</div> <!-- /container\-->