﻿@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-wrap="false">
        <!-- Indicators -->
        @*<ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        </ol>*@

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/img/instructions/1.png" alt="">
                <div class="carousel-caption">
                    Complete your profile
                </div>
            </div>
            <div class="item">
                <img src="/img/instructions/2.png" alt="">
                <div class="carousel-caption">
                    Take photo of your passport
                </div>
            </div>
            <div class="item">
                <img src="/img/instructions/3.png" alt="">
                <div class="carousel-caption">
                    Take picture of all your documents
                </div>
            </div>
            <div class="item">
                <img src="/img/instructions/4.png" alt="">
                <div class="carousel-caption">
                    Sumit
                </div>
            </div>
            <div class="item">
                <img src="/img/instructions/5.png" alt="">
                <div class="carousel-caption">
                    Notification
                </div>
            </div>
            <div class="item">
                <img src="/img/instructions/6.png" alt="">
                <div class="carousel-caption">
                    Receipt
                </div>
            </div>
            <div class="item">
                <img src="/img/instructions/7.png" alt="">
                <div class="carousel-caption">
                    Congratuation
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <br/>
    <button class="btn btn-danger btn-block" type="submit" onclick="window.location='/ui/checkin/profile'">Skip</button>

</div> <!-- /container -->