﻿@{
    ViewBag.Title = "Index";
}

@section header {
    <link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet" />
}

@section script {
    
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(function () {
            $('.datepicker-control').datetimepicker({
                pickTime: false,                 //en/disables the time picker
            });

            $('form').on("submit", function () {
                $.ajax('/api/submission', {
                    type: 'PUT',
                    data: {
                        "Date": $('#dateOfBirth').val(),
                        "EnteredDate": $('#lastDateOfEntry').val(),
                        "EnteredBy": $('#passportNumber').val(),
                        "ArrivalCardNumber": $('#arrivalCardNumber').val(),
                        "Address": $('#billingAddress').val(),
                        "Phone": $('#phone').val()
                    }
                }).done(function () {
                    window.location = "/ui/checkin/step1";
                }).fail(function () {
                    alert("Something wrong");
                });
                //{
                //    "Date": "2013-01-02",
                //    "EnteredDate": "2013-12-31",
                //    "EnteredBy":"ABC",
                //    "ArrivalCardNumber":"1234",
                //    "Address":"555/12-15 SSP Tower, Building 1, Floor 10",
                //    "Road":"Sukhumvit Soi 63 (Ekamai)",
                //    "Tambol":"Khlong Tan Nuea",
                //    "Amphur":"Wattana",
                //    "Province":"Bangkok",
                //    "Phone":"662-711-5305 "
                //}
                return false;
            });
        });

    </script>
}

<div class="container">

    <form role="form" method="post">
        <h2>Complete Your Profile</h2>
        <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class='date datepicker-control' data-date-format="YYYY-MM-DD">
                <input id="dateOfBirth" type='text' class="form-control" placeholder="Date of birth" value="2014-07-06" />
            </div>
        </div>
        <div class="form-group">
            <label for="lastDateOfEntry">Last date of entry</label>
            <div class='date datepicker-control' data-date-format="YYYY-MM-DD">
                <input id="lastDateOfEntry" type='text' class="form-control" placeholder="Last date of entry" value="2014-07-06" />
            </div>
        </div>

        <div class="form-group">
            <label for="passportNumber">Passport number</label>
            <input type="text" class="form-control" id="passportNumber" placeholder="Passport Number" value="51288-VM">
        </div>

        <div class="form-group">
            <label for="arrivalCardNumber">Arrival card number</label>
            <input type="text" class="form-control" id="arrivalCardNumber" placeholder="Arrival Card Number" value="1AB-DCE138-28">
        </div>

        <div class="form-group">
            <label for="arrivalCardMethod">Arrival card method</label>
            <input type="text" class="form-control" id="arrivalCardMethod" placeholder="Arrival Card Method" value="By Plane">
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Phone" value="0890128493">
        </div>

        <div class="form-group">
            <label for="billingAddress">Billing address</label>
            <input type="text" class="form-control" id="billingAddress" placeholder="Billing Address" value="Bangkok">
        </div>

        <div class="form-group">
            <label for="returnAddressSameAsBill">Return address</label>
            <select class="form-control">
                <option>Return address same as billing</option>
                <option>etc</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Next</button>
    </form>

</div> <!-- /container -->