﻿@{
    ViewBag.Title = "Profile";
}

@section header {
}

@section script {
}

<div class="container">

    <form role="form" method="post">
        <h2>Your photo</h2>
        @*<video class="gc-video" autoplay></video>
        <img class="gc-screenshot" src="">
        <canvas style="display:none;"></canvas>

        <script>
            var video = document.querySelector('video');
            var canvas = document.querySelector('canvas');
            var ctx = canvas.getContext('2d');
            var localMediaStream = null;

            function snapshot() {
                if (localMediaStream) {
                    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                    // "image/webp" works in Chrome.
                    // Other browsers will fall back to image/png.
                    document.querySelector('img').src = canvas.toDataURL('image/webp');
                }
            }


            var errorCallback = function (e) {
                console.log('Reeeejected!', e);
            };

            video.addEventListener('click', snapshot, false);

            function hasGetUserMedia() {
                return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                          navigator.mozGetUserMedia || navigator.msGetUserMedia);
            }

            navigator.getUserMedia = (navigator.getUserMedia ||
                          navigator.webkitGetUserMedia ||
                          navigator.mozGetUserMedia ||
                          navigator.msGetUserMedia);

            if (hasGetUserMedia()) {
                // Not showing vendor prefixes or code that works cross-browser.
                navigator.getUserMedia({ video: true }, function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    localMediaStream = stream;
                }, errorCallback);
            } else {
                alert('getUserMedia() is not supported in your browser');
            }
        </script>*@

        <br />
        <br/>
        <input type="file" accept="image/*;capture=camera">
        <br />

        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>

</div> <!-- /container -->