﻿@{
    ViewBag.Title = "Index";
}

@section header {
}

@section script {
    <script src="~/js/signature_pad.js"></script>
    <script>
        var canvas = document.querySelector("canvas");

        var signaturePad = new SignaturePad(canvas);
    </script>
}

<div class="container">
    <h2>Please sign to confirm your documents are correct</h2>

    
    <form role="form" method="post">
        <div class="text-center">
            <canvas class="gc-sign-panel"></canvas>
        </div>
        <br />

        <button type="submit" class="btn btn-primary btn-block">Sign</button>
    </form>

</div> <!-- /container -->