﻿@{
    ViewBag.Title = "Index";
}

@section header {
}

@section script {
<script src="~/js/upload.js"></script>
<script>
    uploadType = "VS";

    next = "step3";
</script>

}

<div class="text-center">
    <img class="img-guide" src="/img/steps/2.png" />
</div>
<div class="container">

    <form role="form" method="post">
        <input type="file" accept="image/*;capture=camera">
        <br />
        <button type="submit" class="btn btn-primary btn-block">Next (2/6)</button>
    </form>

</div> <!-- /container -->