﻿@{
    ViewBag.Title = "Index";
}

@section header {
}

@section script {
<script src="~/js/upload.js"></script>
<script>
    uploadType = "VE";

    next = "step6";
</script>
}

<div class="text-center">
    <img class="img-guide" src="/img/steps/5.png" />
</div>
<div class="container">

    <form role="form" method="post">
        <input type="file" accept="image/*;capture=camera">
        <br />

        <button type="submit" class="btn btn-primary btn-block">Next (5/6)</button>
    </form>

</div> <!-- /container -->