﻿@{
    ViewBag.Title = "Index";
}

@section header {
}

@section script {
}

<div class="text-center">
    <img class="img-guide" src="/img/steps/7.png" />
</div>
<div class="container">

    <form role="form" method="post">
        <button type="submit" class="btn btn-primary btn-block">Pay</button>
    </form>

</div> <!-- /container -->