﻿@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="page-header">
        <h1>Log in</h1>
    </div>
    <p class="lead"> <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
    <p> to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
</div>