﻿@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Guava Check In</h1>
            </hgroup>
        </div>
    </section>
}

<h3>Welcome to Guava Check In</h3>